html,
body {
  margin: 0 auto;
}

body {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>* {
  margin-bottom: 1em;
}

video {
  width: 100%;
}

progress {
  width: 100%;
}

#logArea {
  resize: vertical;
  width: 100%;
}