html,
body {
  margin: 0 auto;
}

html,
body {
  margin: auto;
  background-color: aliceblue;
}

body {
  max-width: 800px;
  padding: 0.1em 1em;
  background-color: rgb(252, 252, 255);
}


body>* {
  margin-bottom: 1em;
}

video {
  width: 100%;
}

progress {
  width: 100%;
}

#logArea {
  resize: vertical;
  width: 100%;
}