html,
body {
  margin: auto;
  background-color: aliceblue;
}

body {
  max-width: 800px;
  padding: 0.1em 1em;
  background-color: rgb(252, 252, 255);
}


body>* {
  margin-bottom: 1em;
}

video {
  width: 100%;
}

progress {
  width: 100%;
}

.log-area {
  resize: vertical;
  width: 100%;
  font-family: monospace;
  background-color: black;
  color: lightgray;
}

.red {
  color: red;
}
.strike {
  font-weight: normal;
  text-decoration: line-through;
}

button {
  cursor: pointer;
}
.bgm-param {
  width: 5em;
}
.input-container, .input-container>* {
  margin: 5px;
}

.attention::before {
  content: "!!";
}

a.button {
  display: inline-block;
  writing-mode: horizontal-tb !important;
  text-align: center;
  padding: 1px 6px;
  background-color: buttonface;
  color: buttontext;
  text-align: center;
  text-decoration: none;
  border: 2px outset buttonborder;
  border-radius: 4px;
  cursor: pointer;
}

a.button:hover {
  filter: brightness(0.9);
}

a.button:active {
  filter: brightness(1.1);
}

a.button.twitter-share-button {
  padding: 1px 10px;
  background-color: #1DA1F2;
  text-decoration: none;
  color: white;
  border-color: white;
  border-radius: 1em;
}